# Fichiers et dossiers spécifiques à Docker
Dockerfile
.dockerignore

# Fichiers de contrôle de version
.git/
.gitignore

# Fichiers de cache Python
__pycache__/
*.pyc
*.pyo

# Environnements virtuels
venv/
.env

# Fichiers de l'IDE
.idea/
.vscode/

# Fichiers journaux
*.log
