{% extends "base.html" %}

{% block title %}Contribuer au Projet{% endblock %}

{% block content %}
<h2>Contribuer au Projet</h2>
<p>Merci de votre intérêt pour contribuer à ce projet open source !</p>

<h3>Comment contribuer ?</h3>
<ul>
    <li>Signalez des problèmes ou des bugs via la section <a href="https://github.com/valentinowyhnel/exploit_bot/issues">Issues</a> sur GitHub.</li>
    <li>Proposez des améliorations ou des fonctionnalités en soumettant une <a href="https://github.com/valentinowyhnel/exploit_bot/pulls">Pull Request</a>.</li>
    <li>Partagez ce projet avec d'autres développeurs intéressés par la sécurité des applications LLM.</li>
</ul>

<h3>Ressources</h3>
<p>Consultez le <a href="https://github.com/valentinowyhnel/exploit_bot">dépôt GitHub</a> pour plus d'informations.</p>

<h3>Contact</h3>
<p>Pour toute question, contactez le créateur du projet : NDONG MBA Valentino.</p>
{% endblock %}